@using Microsoft.AspNetCore.Identity
@using WebApplication1.DbModels
@using WebApplication1.ViewModels;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Wishlist Page";
    Console.WriteLine(Model.ToString());
}
<script>
    function AddingToCart(id, name) {
        alert("Товар был добавлен в корзину, если вы авторизированы");

        var json = {
            id: id,
            name: name
        };
        $.ajax({
            type: "POST",
            url: "/Home/AddingToCart",
            dataType: "json",
            data: { "json": JSON.stringify(json) },
            async: true,
            success: function (msg) {
                ServiceSucceeded(msg);
            },
            error: function () {
                return "error";
            }
        });
    }
    function WishDelete(id) {
        
        var parent = document.getElementById("wishList");
        var child = document.getElementById("item_" + id);
        console.log(child);
        parent.removeChild(child);

        var json = {
            id: id,
        };
        $.ajax({
            type: "POST",
            url: "/Home/WishDelete",
            dataType: "json",
            data: { "json": JSON.stringify(json) },
            async: true,
            success: function (msg) {
                ServiceSucceeded(msg);
            },
            error: function () {
                return "error";
            }
        });
        alert("Товар был удалён из корзины");
    }
</script>
<div id ="wishList" class="text-center">
    <h1 class="display-4">Ваше желаемое</h1>
    
    @foreach (WishlistItem item in Model.Wishlist)
    {
        <div id="item_@item.WishlistID" class="container" style="display: flex; border: solid black; margin-top: 10px">
            <div style=" border-right: 3px solid;">
                <img src="@item.Image" alt="Alternate Text"
                     width=200px height=200px />
            </div>
            <div>
                <p align="left" style="margin-left: 15px; margin-right: 15px">Name: @item.ProductName Price: @item.Price</p>
                <p align="justify" style="margin-left: 15px; margin-right: 15px"> @item.Description</p>
            </div>
            <div style="margin-left: auto; display: block; justify-content: space-between; align-content: center">
                <button style="width: 200px; height: 50px;" type="button" name="@item.ProductName" onclick="WishDelete(@item.WishlistID)">
                    Удалить из желаемого
                </button>
                <br/>
                <button style="margin-top: 10px;width: 200px; height: 50px;" type="button" name="@item.ProductName" onclick="AddingToCart('@item.ProductId', '@User.Identity?.Name')">
                    Добавить в корзину
                </button>
            </div>
        </div>
    }
</div>
